.success__top {
  background-color: #00628B;
  z-index: -1;
  width: 100%;
  height: 300px;
  position: relative;
}
.success__title {
  text-align: center;
  color: white; 
  width: fit-content;
  margin: auto;
  padding-top: 40px;
  font-size:50px;
}
@media screen and (max-width: 480px) {
  .success__title {
    font-size: 30px;
  }
}
.success__style-square {
  background-color: #D9D9D9;
  opacity: 50%;
}
.success__style-square-big {
  
  width: 100px;
  height: 100px;
  margin-left: 50px;
}
.success__style-square-small {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-top: -30px;
}
.success__style-square-scaled {
  scale: 20%;
  position: absolute;
  left: 150px;
  top: 150px;
  rotate: -90deg;
}
.success__style-square-one-two {
  position: absolute;
  right: 0px;
  top: 0px;
}
.success__style-square-one {
  width: 150px;
  height: 150px;
  
}
.success__style-square-two {
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: -25px;
}
.success__style-square-three {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 170px;
  top: 40px;
}
.success__middle-box {
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 15px -3px darkgray;
  max-width: 500px;
  max-height: 500px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -90px;
}
.green-check {
width: 80px;
display: block;
margin-left: auto;
margin-right: auto;
}
.qrcode {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
/* Footer styles */
.footer {
  background-color: #f1f1f1;
  padding: 1rem;
  text-align: center;
  position: bottom;
  font-size: larger;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer p {
  margin: 0;
  color: #333;
  font-size: 0.875rem;
}

/* Error page styles */
.error404 {
background-color: #f1f1f1;
height: 100svh;
}
.error404__content{
width: fit-content;
margin-left: auto;
margin-right: auto;
}
.error404__sad, .error500__sad {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  filter: hue-rotate(180deg) grayscale(30%);
}
.error404__t1, .error500__t1{
    font-size: 80px;
    font-weight: bolder;
    color: #00628B;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  
}
.error404__t2 {
    font-weight: bold;
    font-size: 50px;
    color: darkslategrey;
    margin-left: auto;
    margin-right: auto;
}
.error500__t2 {
  font-weight: bold;
  font-size: 30px;
  color: darkslategrey;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.redirect-link {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px; 
}

.qr-result__header {
  font-size: 50px;
  font-weight: bold;
  color: #00628B;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.qr-result__loader {
  font-size: 30px;
  margin-top: 30svh;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.entry-details {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 60px;
}
.entry-details__title {
  font-weight: bold;
}