.container {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 100vh;
}
.upper{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 100svh solid #00628B;
    border-right: 70px solid transparent;
    border-bottom: none;

}


.right-side {
    z-index: 20;
    flex-grow: 1;
    /*background-color: #2281b8;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.left-side {
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: white;
    display: flex;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-form h2 {
    color: #2281b8;
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    color: #4B5563;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    font-size: 1rem;
}

.input-group input:focus,
.input-group select:focus {
    outline: none;
    border-color: #2281b8;
    box-shadow: 0 0 0 3px rgba(30, 64, 175, 0.1);
}

button {
    width: 100%;
    background-color: #2281b8;
    color: white;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
}

button:hover {
    background-color: #516aad;
}

.welcome-text {
    align-items: left;
    justify-content: left;
    font-size: 3rem;
    font-weight: bold;
    color: #2281b8;
    white-space: nowrap;
    border-right: 2px solid #2281b8;
    animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite alternate;
    text-align: center;
}
.footer span {
    color: #00628B;
    font-size: large;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .right-side,
    .left-side {
        width: 100%;
        border-radius: 0;
    }

    .login-form {
        max-width: 100%;
        padding: 1rem;
    }

    .welcome-text {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .welcome-text {
        font-size: 1.5rem;
    }

    .login-form {
        max-width: 100%;
        padding: 1rem;
    }

    .left-side {
        display: none;
    }
}
@keyframes typing {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    50% {
        transform: translateX(50%);
        opacity: 0.5;
    }
   

    100% {
        transform: translateX(10%);
        opacity: 1;
    }
}