
.container {
    display: flex;
    height: 100vh;
    background-color: #fff;
}

.left {
    flex: 7;
    background-color: #001f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-image {
    max-width: 80%;
    opacity: 0.7;
    filter: grayscale(100%);
}

.right {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.form {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.25rem;
}

.form h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #001f3f;
}

.form input {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    outline: none;
}

.form button {
    padding: 0.75rem;
    background-color: #001f3f;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.form button:hover {
    background-color: #0056b3;
}

.form a {
    text-decoration: none;
    color: #001f3f;
    margin-top: 1rem;
    display: block;
    text-align: center;
}
.left_content{
    margin-left: 20px;
    padding: 10px;
    color: white;
    font-size: 1.5rem;
    text-align: left;
    border-radius: 15px;
}